div.frames h2{
position:absolute;
top:1000px;
}

table, td, th {
    border: 1px solid black;
	
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 50px;
 text-align: left;
background-color: #4CAF50;
}
td{
	height:50px;
	 text-align: left;
	 background-color:#FF0000 ;
}
th,td{
	padding: 15px;
}

div.image {
   content:url(camad.jpg);
}​
